body{
    background-color: beige;
    color: black;
    font-size: 20px;   
}
.website{
    background-color: mediumslateblue;
    color: black;
    text-align: center;
    
}
.story{
    background-color: aquamarine;
    color: black;
    font-size: larger;
}
.pink{
    background-color: deepskyblue;
    color: white;
    font-size: larger;
}
.yellow{
    background-color:aqua;
    color: black;
    font-size: larger;
}
.reach{
    background-color: lightgreen;
    color: black;
    font-size: larger;
}