body{
    background-color: lightgray;
    color: blue;
}

h1{
    background-color: black;
    color: white;
}

h2{
    color: royalblue;
}
p{
    color: black;
    font-size: 20px;
    font-family: times;

}
li{
    color: blueviolet;
    font-size: 20px;
}

div{

    body{
        background-color: beige;
        color:blue
    }
    h1{
background-color: peru;
color: blue;
    }
    h2{
        color: blue;
    }
    p{
        color: black;
        font-size: 20px;
        font-family: times;
    }
    li{
        color: blue;
        font-size: 20px;
        font-family: times;
        
    }
    

}
div-1{
    h1{
        background-color: wheat;
        color: black;
    }
    body{
        background-color: azure;
    }
}

div-2{
    h1{
        color: white;
        background-color: black;
    }
    h2{
        color: blue;
    }
    h3{
        color: brown;
    }
    body{}
    p{
        color: black;
        font-size: 20px;
        font-family: times;
    }
    li{
        color: slateblue;

    }
}